.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    width: 430px;
    padding: 20px;
}

.auth_button {
    background-color: #d2302c;
    color: white;
}

.auth_button:hover {
    border-color: #d2302c;
    color: #d2302c;
}

.auth_button:active{
    background-color: #831715;
}

.auth_button:focus{
    background-color: #831715;
}

/*input[type="submit"].auth_button:focus,*/
/*input[type="submit"].auth_button:active {*/
/*    background-color: #831715;*/
/*    box-shadow: none;*/
/*    outline: none;*/
/*}*/

