.navbar_bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.auth_button:hover {
    border-color: #d2302c;
    color: #d2302c;
}

.table_container {
    margin: 20px auto;
    max-width: 80%;
}

.custom_table {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
}

.custom_table th {
    text-transform: uppercase;
    background-color: #322f2f;
    color: #fff;
    font-size: 14px;
    padding: 12px 10px;
    text-align: center;
}

.custom_table td {
    padding: 12px 10px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.custom_table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.custom_table tbody tr:hover {
    background-color: #e1e8ed; /* Hover effect */
}

.delete_button {
    background-color: #5c5656;
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease
}

.delete_button:hover {
    background-color: #3e3a3a;
}
